<div class="test">
  <nav class="d-flex gap-2 justify-content-around">
    <button type="button" class="btn btn-primary flex-grow-1" routerLink="/exo01" routerLinkActive="active-link">Exercice 1</button>
    <button type="button" class="btn btn-primary flex-grow-1" routerLink="/exo02" routerLinkActive="active-link">Exercice 2</button>
    <button type="button" class="btn btn-primary flex-grow-1" routerLink="/exo03" routerLinkActive="active-link">Exercice 3</button>
    <button type="button" class="btn btn-primary flex-grow-1" routerLink="/exo04" routerLinkActive="active-link">Exercice 4</button>
    <button type="button" class="btn btn-primary flex-grow-1" routerLink="/exo05" routerLinkActive="active-link">Exercice 5</button>
    <button type="button" class="btn btn-primary flex-grow-1" routerLink="/exo05bis" routerLinkActive="active-link">Exercice 5bis</button>
  </nav>
</div>
